.boxPhoto {
    width: 100%;
    height: auto;

}

.boxPhoto:hover {
    box-shadow: 0px 3px 10px .3px #888888;
}

.boxText {
    padding-top: 10px;
    
    font-size: 22px;
    font-weight: 450;
    letter-spacing: .7px;
}

.flex-container-home {
    padding-top: 2%;
    display: flex;     
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flex-container-home > div {
  width: 35%;
  margin: 2%;
  margin-left: 3%;
  margin-right: 3%;
}