.photoBox {
    margin: 7px;
}

.img {
    max-width: auto;
    max-height: 427px;   
}

@media screen and (max-width: 600px) {
    .img {
        max-width: 100%;
        height: auto;
    }
}

.photoDiv {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7%;
    margin-top: 1%;
    margin-bottom: 2%;
}

.rowContainer {
    max-height: 640px;
    margin: 10px;
}
