.icons {
    font-size: 48px;
    margin:10px;
}

.footer {
    margin-bottom: -1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 65px;
}

.vsco {
    font-size: 42px!important;
    margin-top: 12px!important;
    margin:8px;
    display: inline-block;
}

.row {
    text-align: center!important;
    padding: 4px;
}