

.playlistCol {
    width: 90%;
    margin-left: 5%!important;
    margin-right: 5%!important;    
}

.Playlist-font {
    font-size: 60px;
    text-align: left;
    padding-left: 3%
}

.spotify-background {
    text-align: center;

}

@media screen and (max-width: 900px) {
    .playlistCol {
        display: inline-block;
    }
    .Playlist-font {
        font-size: 40px;
    }
}
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count:3;
        -moz-column-count:3;
        column-count:3;
    }
}