img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.page-container {
    margin: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo {
    width: 100%;
    max-height: auto;
}

.photo-container {
    width: 25%;
    margin: 5%;
    margin-top: 1%;
}

