.playlistCard {
    border: .75px solid #e0e0e0;
    border-radius: .2rem!important;
    max-width: 200px;
    min-width: 200px;
    max-height: 280px;
    min-height:280px;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px!important;
    margin-right: 5px!important;
}

@media screen and (max-width: 900px) {
    .playlistCard {
        display: inline-flex;
    }
    
}



.photoDiv {
    overflow: hidden;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: .2rem!important;
}


.playlistImg {
    width: 100%;
    
}