.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.backButton {
  margin-bottom: 135px;
  margin-left: 35px;
}

.minHeight {
  min-height: calc(100vh - 65px - 56px);
}


/* * {
  border: 1px solid #f00 !important;
} */

.card-body {
  padding: 5px;
}

.card-container {
  padding-left: 5%;
  padding-right: 5%;
}


.card-columns {
  max-width: 1300px;
  display: inline-block
}

.col {
  text-align: left;
}
.row {
  width: 100%;
}

.title-author {
  height: 110px;
}

.hline {
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
